@model int[]


 <h1>Home page</h1>


@{
    int count = 100;
}
    

@{
    List<string> names = new List<string>()
    {
     "Shaig","Konul","Ceyhun"
    };
}

 <section id="home">
     <div class="navbar">
         <h3 style="color:red">Started Backend</h3>


         @{

             foreach (var item in names)
            {
                <h1>@item</h1>
            }
         }



        @{
            var number = 5 + 5;
        }

        <span>@count</span>

        <ul>
            @for (int i = 0; i < 15 ; i++)
            {
                <li>@count</li>
                count++;
            }

        </ul>



        @{

            foreach (var item in Model)
            {
                <h1>@item</h1>
            }
        }

     </div>
 </section>


 <script>
     console.log("sncdbajsd")
 </script>